$rojoViento: #cd5c5c;
$nada: none;
$linkActivo: 'a, a:active, a:hover, a:visited';
$linkHover: 'a:active, a:hover';
 
#{$linkActivo} {
  color: $rojoViento;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bolder;
}

#{$linkHover} {
  color: dimgrey;
  transition: 1s;
}

.header {
	padding-top: 20px; 
	padding-bottom: 20px;
}

.header__menu {
	display: flex; 
	flex-direction: row;
	justify-content: space-around;
	text-decoration: $nada;
	padding-top: 6px;
 		li { 
 			list-style-type: $nada;
 		}
 }

 .header__menuIcons {
 	display: flex;
 	flex-direction: row;
 	justify-content: flex-end;
 	margin-right: 20px;
 		li { 
 			list-style-type: $nada;
 		}
 }
.header__menuIcons img {
	&:hover {
	opacity: 0.5;
	transition: 1s;}
}

.logo {
	padding-top: 10px;
	padding-bottom: 0px;
}

/* ---------- | VISTA MOBILE | ---------- */

@media only screen and (min-width:0px) and (max-width:767px) {
	#{$linkActivo} {
	  color: $rojoViento;
	  text-decoration: none;
	  font-size: 0.7em;
	  font-weight: bolder;
	}

	.header { 
		font-size: 0.7em;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-right: 0px;
	}

	.header__menu {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		margin: 0px;
		ul { margin-right: 0px }
		
	}

	.header__menuIcons {
 		display: flex;
 		flex-direction: row;
 		justify-content: flex-end;
 		margin-right: 16px;
 		margin-bottom: 0px;
 		padding: 0px;
 		img { 
 			width: 10;}
 	}

	.logo {padding-top: 0px;}
}

/* ---------- | VISTA TABLETS | ---------- */

@media only screen and (min-width:768px) and (max-width:1024px) {
	#{$linkActivo} {
	  color: $rojoViento;
	  text-decoration: none;
	  font-size: 1em;
	  font-weight: bolder;
	}

	.header__menuIcons {
 		display: flex;
 		flex-direction: row;
 		justify-content: flex-end;
 		align-items: flex-start;
 		margin-right: 20px;
 		margin-top: 3px;
 	li { 
 		list-style-type: $nada;}
 	img {width: 25;}
 }
}
